* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    background: url('../../assets/img/blue-background.svg'), linear-gradient(180deg, #3E5CA2 0%, #143685 100%);

    .title {
        font-family: 'Potta One', cursive;
        font-size: 54px;
        line-height: 100%;
        color: var(--yellow);
    }
    .bt-start {
        background-color: var(--red);
        border-radius: 20px;
        border: none;
        line-height: 200%;

        font-family: 'Potta One', cursive;
        color: #fff;
        font-size: 24px;
        width: 270px;
        height: 50px;
        cursor: pointer;
    }
}